[Catalog]
; Base URL for the XC NCIP Toolkit's NCIP responder:
url         = http://localhost:8080/aleph-web/NCIPResponder
; Your library's Agency ID (ILSDefaultAgency setting in driver_config.properties):
agency      = "Your Agency Id"
