body {
  background-color: #F5F5F5;
  font-family: Arial, sans-serif !important;
  font-size: 13px;
  color: #392529;
  color: #525252;
}

label, input, button, select, textarea {
  font-size: 13px;
}

/* front page */
div.frontpage {
  background-color: #F5F5F5;
}

div.searchHomeForm {
  background-color: white;
  border: 1px solid #E0E0E0;
}

div.frontpage-logo {
  padding-top: 2%;
  padding-bottom: 2%;
}

div.searchHomeForm {
  margin-top: 3%;
}

div.searchbox-frontpage {
  background-color: #3cb9c3;
  margin: 5% 5% 5% 5%;
}

div.searchbox-frontpage>form>input.search-query {
  background: #fff;
}

div.searchbox-frontpage>form>select {
  background: #fff;
}

div.searchbox-frontpage>form>div>a {
  color: #fff;;
}

/* header */

body>div.header {
  background-color: #fff;
}

li.header-logo {
  margin-right: 15px;
}

/* language bar */

.navbar .nav>li> a.language  {
  float: none;
  padding: 5px;
  color: #16969D;
  text-decoration: none; /* should be underline, but the flag should not be underlined */
  text-shadow: none;
}

/* login box */

a.myresearch, a.register {
  background: #fff;
  border: 1px solid #D1EFF1;
  color: #16969D;
  cursor: pointer;
  float: left;
  font-family: 'Arial';
  font-size: 11px;
  font-weight: bold;
  height: 33px;
  line-height: 30px;
  vertical-align: middle;
  right: -35px;
  padding: 0 0 0 12px;
  position: relative;
  text-transform: uppercase;
  top: 9px;
  width: 117px;
  text-decoration: none;
  box-sizing: content-box;
}

a.login, a.logout {
  background: url('/themes/mzk/images/btn-submit-shaped.png') no-repeat left top;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-family: 'Arial';
  font-size: 11px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  padding: 0 0 0 30px;
  position: relative;
  right: 0px;
  text-transform: uppercase;
  top: -1px;
  width: 80px;
  text-decoration: none;
  margin-top: 10px;
  box-sizing: content-box;
}

/* cart */
#cartSummary {
  position: relative;
  right: -35px;
}

/* breadcrumb */ 

.navbar .nav>li> a.language:hover {
  text-decoration: none;
}

/* search box */
input.search-query {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #d1eff1;
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
}

select.search-query {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #d1eff1;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 15px;
  width: inherit;
}

button.search-query {
  font-family: 'Arial';
  font-size: 13px;
  font-weight: bold;
  background: transparent url("/themes/mzk/images/btn-submit.png") repeat-x left top;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  margin-top: 2px;
}

div.search-query-options {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul .typeahead {
  margin-top: 15px;
}

/* breadcrumb */
.breadcrumb {
  background: #3cb9c3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3cb9c3), to(#3cb9c3));
}

.breadcrumb-nav>li {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}

.breadcrumb-nav>li>a {
  color: #fff;
}

/* search view */
img.search-view-type {
  padding-left: 10px;
}

/* styling of links */
a {
  color: #16969D;
  text-decoration: underline;
}

.pagination > li > a {
	color: #16969D;
}

.btn-primary {
	background-color: #16969D;
}

.btn-primary:hover {
	color: #16969D;	
}

input.search-query {
	margin-top: 0px;
}

.pagination > .active > span {
	background-color: #16969D;
	border-color: #16969D;
}

a.no-underline {
  text-decoration: none;
}

a:hover, .hoverLink {
  color: #16969D;
  text-decoration: none;
}

/* search results */
.form-line {
  background-color: #fff;
}

li.nav-header {
  margin: 30px 10px 10px 10px;
  background: #504b55;
  padding: 6px 8px;
  color: #fff;
  padding: 6px 8px;
}

label.recordNumber {
  width: 20px;
  font-weight: bold;
  margin-left: 15px;
}

.result a.title {
  font-weight: normal;
  font-size: 15px;
}

/* facets */
div.sidebar {
  padding-left: 10px;
  padding-right: 10px;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: inherit;
}

/* results */

div.col-sm-9 {
  background-color: #fff;
  border: 1px solid #E0E0E0;
}

.results {
  border: 1px solid #E0E0E0;
}

div.results-empty, div.results-listing-options, div.results-bulk-actions, div.results-pagination {
  padding: 0px 10px 0px 10px;
}

div.results-pagination {
  text-align: center;
}

div.results-bulk-actions {
  border-bottom: #eee solid 1px;
  padding: 0px 10px 0px 10px;
}

.result {
  border-top: 0px;
  padding: 5px 10px 5px 10px;
  background: white;
}

.result.alt {
  /*padding: 5px 10px 5px 10px;*/
  background: #F5F5F5;
}

/* obalky knih */
div.coverThumbnail>a>img {
  height: 80px;
}

/* styling of tables */
.table-view  th {
  background: #20bec6;
  border: 1px solid #21BDC6;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.table-view th, .table-view td {
  padding: 8px 10px;
  border: 1px solid #C2E0E1;
}

.table-view tr:nth-child(odd) {
  background: #DFF4F5;
}
.table-view tr:nth-child(even) {
  background: #F9FFFF;
}

.table-view th {
  border-left: 1px solid #C2E0E1;
}

/* styling of tabs */

.nav-tabs>li>a {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  text-decoration: none;
  color: #fff;
}

.nav-tabs>li {
  margin-right: 10px;
  background-color: #0e6a70;
}

.nav-tabs>li>a, .nav-pills>li>a {
  margin-right: 0px;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  font-weight: bold;
  text-decoration: none;
  color: #555;
  cursor: default;
  background-color: #fff;
  /*border: 1px solid #ddd;*/
  border-bottom: 2px solid transparent;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  background: #08585d;
  border-color: transparent;
}

.tab-container {
  border: 0px;
}

/* record page */
div.record h3 {
  font-size: 18px;
  line-height: 25px;
}

div.format {
  font-weight: bold;
  padding-top: 6px;
}

/* eod on record page */
table.eod_link td {
  padding-right: 10px;
}

span.eod_text {
  color: #EC9136;
}

/* toolbar on record page */
div.toolbar {
  border-bottom: 1px solid #eee;
}

div.toolbar>ul {
  margin: 5px 5px 5px 5px;
}

div.record-outer {
  padding: 0px;
}

div.record {
  padding: 10px;
}

div.nav-tabs-outer {
  background-color: #fafafa;
  padding-top: 15px;
  padding-left: 20px;
}

/* holdings tab */
select {
  width: inherit;
}

div.holdings-filters {
  display: block;
}

div.holdings-filters>form {
  display: block;
}

span.available {
  color: #009900;
}

span.checkedout {
  color: #cc0000;
}

p.holdings-restriction {
  font-weight: bold;
  color: #990000;
}

.navbar {
	margin-bottom: 0px;
}

.twitter-typeahead {
  display: inline-block !important;
  width: 100%;
  padding: 0;
}
.tt-dropdown-menu {
  right: 0 !important;
}
.autocomplete {
  width: 100% !important;
  max-width: none;
}
.searchbox-frontpage .row {
  padding-top: 10px;
}
#searchForm_type {
  width: 100%;
}
input.checkbox-select-item {
  margin-left: 5px;
}
#renewals .row {
  margin-left: 0px;
}

/* myresearch */
.myresearch-menu, .myresearch-favorites-list, .myresearch-profile-menu {
  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.navbar-nav > li > a {
	padding-top: 5px;
}

.form-control {
	border-radius: 0px;
}

.btn {
	border-radius: 0px;
}

.list-group-item:first-child {
	border-radius: 0px;
}

.list-group-item:last-child {
	border-radius: 0px;
}

.sidebar .collapse .list-group-item[id^="more"] {
	border-radius: 0px;
}

.pagination > li:first-child > span {
	border-radius: 0px;
}

.pagination > li:first-child > a {
	border-radius: 0px;
}

.pagination > li:last-child > span {
	border-radius: 0px;
}

.pagination > li:last-child > a {
	border-radius: 0px;
}

.myresearch-menu {
	border-radius: 0px;
}

.alert {
	border-radius: 0px;
}

.myresearch-favorites-list {
	border-radius: 0px;
}

.breadcrumb {
	border-radius: 0px;
}

.sidebar .title.collapsed {
	border-radius: 0px;
}

.badge {
	font-weight: inherit;
	color: inherit;
	border-radius: 0px;
	background-color: transparent;
l}

.label {
	border-radius: 0px;
}

.tooltip-inner {
	border-radius: 0px;
}

.list-group-item.title {
    background-color: #504B55;
    color: #FFF;
}

.slider .slider-track .slider-handle {
	background-color: #16969D;
	border-color: #16969D;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus  {
	border-color: #DDD;
}