<div class="row well result ajaxItem">
	<div class="col-xs-2 left">

		<label class="pull-left flip">
			<span class="pull-left noprint">
				<input ng-model="listCtrl.favSelected[fav.created()]" type="checkbox" />
			</span>
		</label>
		<div class="coverThumbnail">
			<img src="" ng-src="{{ fav.image() }}" alt="cover" height="80" width="63"/>
		</div>
	</div>
	<div class="col-xs-6 middle">
		<div class="resultItemLine1">
			<a class="title" href="{{ fav.titleLink() }}">{{ fav.title() }}</a>
		</div>

		<div class="resultItemLine2">
			{{ 'mainAuthor' | translate }} <a ng-href="fav.authorLink()">{{ fav.author() }}</a> <br/>
			<div ng-show="fav.published()">
				{{ 'published' | translate }} {{ fav.published() }}
			</div>
		</div>

		<div class="last">

			<div ng-show="fav.fulltext()">
				<a ng-href="fav.fulltext()" class="fulltext" target="new">
				<i class="fa fa-external-link"></i>{{ 'onlineResources' | translate }}</a>
			</div>
			<br><br>
			<div class="iconlabel">
				<i ng-class="fav.formatIconClass()"></i><span class="format-text">{{ fav.format() | translate }}</span>
			</div>

		</div>
	</div>

	<div class="col-xs-2 right">
		<div class="dropdown">
			<i class="fa fa-fw fa-trash-o"></i> <a class="dropdown-toggle" role="button" data-toggle="dropdown"
				data-target="#"
				href="#">{{ 'delete' | translate }}</a>
			<ul class="dropdown-menu" role="menu">
				<li><a
					ng-click="listCtrl.removeFavorite(fav.created())"
					title="{{ confirmDelete }}">{{ 'yes' | translate }}</a></li>
				<li><a>{{ 'no' | translate }}</a></li>
			</ul>
		</div>
	</div>
</div>