@font-face {
	font-family: 'knihovny';
	src:url('fonts/knihovny.eot?bb92jg');
	src:url('fonts/knihovny.eot?#iefixbb92jg') format('embedded-opentype'),
		url('fonts/knihovny.ttf?bb92jg') format('truetype'),
		url('fonts/knihovny.woff?bb92jg') format('woff'),
		url('fonts/knihovny.svg?bb92jg#knihovny') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'knihovny';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo-symbol:before {
	content: "\e600";
}
.icon-logo-komplet:before {
	content: "\e601";
}
.icon-D-objekty:before {
	content: "\e602";
}
.icon-chci-to-knihovna:before {
	content: "\e603";
}
.icon-e-verze:before {
	content: "\e604";
}
.icon-exportovat-zaznam:before {
	content: "\e605";
}
.icon-hledani:before {
	content: "\e606";
}
.icon-normy:before {
	content: "\e607";
}
.icon-noviny:before {
	content: "\e608";
}
.icon-oblibene-nepridano:before {
	content: "\e609";
}
.icon-oblibene:before {
	content: "\e60a";
}
.icon-obrazek:before {
	content: "\e60b";
}
.icon-odhlasit:before {
	content: "\e60c";
}
.icon-ostatni-dokumenty:before {
	content: "\e60d";
}
.icon-prihlasit:before {
	content: "\e60e";
}
.icon-pripojit-ucet:before {
	content: "\e60f";
}
.icon-profil:before {
	content: "\e610";
}
.icon-propojene-identity:before {
	content: "\e611";
}
.icon-rezervace2:before {
	content: "\e612";
}
.icon-rss:before {
	content: "\e613";
}
.icon-seda-literatura:before {
	content: "\e614";
}
.icon-slovnikova-hesla:before {
	content: "\e615";
}
.icon-smisene-dokumenty:before {
	content: "\e616";
}
.icon-typ-audio:before {
	content: "\e617";
}
.icon-typ-clanek:before {
	content: "\e618";
}
.icon-typ-hudebniny:before {
	content: "\e619";
}
.icon-typ-kartograficky-dokument:before {
	content: "\e61a";
}
.icon-typ-kniha:before {
	content: "\e61b";
}
.icon-typ-video:before {
	content: "\e61c";
}
.icon-typ-zvetsene-pismo:before {
	content: "\e61d";
}
.icon-ulozit-vyhledavani:before {
	content: "\e61e";
}
.icon-vypujcky:before {
	content: "\e61f";
}
.icon-vytvorit-citaci:before {
	content: "\e620";
}
.icon-za-poplatek:before {
	content: "\e621";
}
.icon-zakony:before {
	content: "\e622";
}
.icon-typ-braill:before {
	content: "\e623";
}
.icon-mikrodokument:before {
	content: "\e624";
}
.icon-typ-elektronicky-zdroj:before {
	content: "\e625";
}
.icon-koupit:before {
	content: "\e626";
}
.icon-patenty:before {
	content: "\e627";
}
.icon-kvalifikacni-prace:before {
	content: "\e628";
}
.icon-rukopisny-dokument:before {
	content: "\e629";
}
.icon-poslat-emailem:before {
	content: "\e62a";
}
.link {
	color: #2196f3 !important;
}
.link:hover {
    text-decoration: underline !important;
}

/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('fonts/lato/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: 'LatoWebBlack';
    src: url('fonts/lato/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('fonts/lato/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'LatoWebBold';
    src: url('fonts/lato/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
    font-family: 'LatoWebHairline';
    src: url('fonts/lato/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
    font-family: 'LatoWebHairline';
    src: url('fonts/lato/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('fonts/lato/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('fonts/lato/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/lato/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('fonts/lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoWebLight';
    src: url('fonts/lato/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('fonts/lato/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: 'LatoWebMedium';
    src: url('fonts/lato/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('fonts/lato/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('fonts/lato/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('fonts/lato/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
    font-family: 'LatoWebThin';
    src: url('fonts/lato/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/lato/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/lato/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/lato/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/lato/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
