# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
composer.lock
import/solrmarc.log
vendor/.git
.project
.buildpath
/nbproject
messages.log
messages-front.log
cache
/log
.settings
git-3way-merge.local.cfg
compileMyCss.sh
public/robots.txt
public/sitemap*.xml
fatal-errors.log
.idea
