<phpunit bootstrap="./bootstrap.php" backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="AllUnitTests">
            <file>unit-tests/src/VuFindTest/ILS/Driver/XCNCIP2Test.php</file>
            <!-- <file>unit-tests/src/VuFindTest/ILS/Driver/XCNCIP2Test.php</file> -->
            <!-- <file>unit-tests/src/VuFindTest/ILS/Driver/XCNCIP2OnlineTest.php</file> -->
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <!-- <directory suffix=".php">../src/VuFind/ILS/Driver</directory> -->
            <file>../src/VuFind/ILS/Driver/XCNCIP2.php</file>
        </whitelist>
    </filter>

    <logging>
        <!--<log type="coverage-html" 
            target="report" /> -->
        <!-- <log type="tap"
            target="php://stdout" /> -->
    </logging>
</phpunit>
