.navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #c9bfb5;
    text-decoration: none;
    text-transform:uppercase;
    text-shadow: 0px -1px 0px #34312d;
}

.navbar .nav>li>a:hover {
    color: #cabfb5;
    background-color: transparent;
}


#header .header-finisher {
    background-color: red;
    background-repeat:no-repeat;
    background-position: bottom right;
    width: 20px;
    height: inherit;
    float:right;
}

.header {
    background-color: transparent;
    background-image: url('/themes/vnf/images/fonoteka-header-bg.png');
    background-repeat:repeat-x;
    background-position: bottom left;


}

.header-title {
    font-size: 18px;
    margin-top: 13px;
}

.header-logo {
    margin-top: 10px;
}