@import "bootstrap";

//import colors definitions
@import "vendor/_bootstrap-material-design-colors";
//import datepicker styling
@import "vendor/datepicker3";

//import variables definitions
@import "variables";

//import element specific less files
////////////////////////////////////
@import "elements/alerts";
@import "elements/well";
@import "elements/cpk-icons";
@import "elements/responsive-table";

//import part specific less files
/////////////////////////////////
//contain styling for facets
@import "parts/facets";
//contain styling for eu-cookies and header
@import "parts/header";
//contain styling for searchbox and autocomplete
@import "parts/searchbox";
//contain styling for footer
@import "parts/footer";
//contain styling for search results page
@import "parts/search-results";
//contain styling for notifications
@import "parts/notifications";
//contain styling for statistics module
@import "parts/statistics";
//contain styling for record page
@import "parts/record";
//contain styling for pages for signed-in users
@import "parts/myresearch";
//contain styling for admin
@import "parts/admin";
//contain styling for portal views
@import "parts/portal";


///////////////////////////////////////////////////////////////////////////////////////////
// Avoid showing horizontal scroolbar, when header and footer overflows on smaller desktops
@media (min-width: @screen-lg-min) {
  body {
    overflow-x: hidden;
    margin-left: -500px;
    margin-right: -500px;
  }
}

@brand-unknown: #9E9E9E;

@label-unknown-bg: @brand-unknown;

.label-unknown {
  .label-variant(@label-unknown-bg);
}

a, .btn-link {
  cursor: pointer;
}
a:hover, a:focus, .btn-link:hover, .btn-link:focus {
  text-decoration: none;
}


.form-control {
  &:focus {
    @shadow: none;
    .box-shadow(@shadow);
  }
}

// Override padding
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.margin-bottom {
   margin-bottom: 20px;
}

.breadcrumb {
    background-color: inherit;
    margin-bottom: 10px;
    padding: 0px 15px 5px 15px;
}

.btn-primary {
  font-family: LatoWebHeavy;
  text-transform: uppercase;
}
