#periodString #date {
    border-radius: 0px;
    background-clip: padding-box;
    padding: 8px 10px;
    color: #666;
    text-transform: uppercase;
    font-family: Verdana,sans-serif;
    font-size: 10px;
    line-height: 12px;
}
#periodString #date {
    cursor: pointer;
}