
//@text-color:            #525252;
@primary :        #C60546;
@link-color:            #C60546;
@link-hover-color:      #C60546;
//@body-bg:               #F5F5F5;
//
//@border-radius-base :   0px;
//@pager-border-radius:   0px;

@navbar-inverse-bg: @link-color;
@navbar-inverse-link-color: white;

//@breadcrumb-color:      #fff;
//@breadcrumb-active-color:#fff;
