@brand-primary:         #e5004b;
@first-cpk-design-blue: #568FAB;

@primary :              @brand-primary;
@link-color:            @brand-primary;
@link-hover-color:      #222222;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@pager-border-radius:       0px;



//== Navbar
//
//##

@navbar-default-bg:                white;

//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 15px;
//** Breadcrumb background color
@breadcrumb-bg:                 @white;
//** Breadcrumb text color
@breadcrumb-color:              @brand-primary;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       @gray-light;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";



//== Forms
//
//##


//** Border color for inputs on focus
@input-border-focus:             @brand-primary;


@grid-gutter-width:         10px;



/////////////////////////////////////////////////////////////////////
//Material design variables
/////////////////////////////////////////////////////////////////////

// Bootstrap shades
@success: @green;
@info: @light-blue;
@warning: @orange;
@danger: @red;

//@brand-primary: @primary;
@brand-success: @success;
@brand-danger: @danger;
@brand-warning: @warning;
@brand-info: @info;

// Typography elements for Material
//@darkbg-text: rgba(255,255,255,0.84);
@darkbg-text: #FFF;
@lightbg-text: rgba(0,0,0,0.84);

// Bootstrap variables
@body-bg: #EEEEEE;

// Define the maximum width of `.container` for "large desktop" screen size
@container-large-desktop:      (1220px + @grid-gutter-width);

//minimum screen size for showing "large desktop" content
@screen-lg-min:              1240px;

//== Typography
//
@font-family-sans-serif:  LatoWeb;

@font-size-base:          16px;
@font-size-h1:            48px;
h1, .h1 {
  font-family: LatoWebBold;
}

@input-height-base:       46px;
.form-control {
  border: 2px solid @input-border;
}

@line-height-base:        1.875;
