//set inheritance
@import "bootstrap";
@import "obalkyknih";
@import "common-bootstrap";
@import "portals-common";

//import variables
@import "variables";

//import parts
@import "parts/header";

.copyright {
  text-align: center;
  margin-bottom: 20px;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #f6f0d6;
  background-image: url('/themes/historickefondy/images/hf-background-sites.jpg');
  background-repeat: repeat-x;
}

body {
  margin: 0;
  font-family: "Open sans";
  font-size: 14px;
  line-height: 20px;
  color: #92887E;
  background-color: #f6f0d6;
  background-image: url('/themes/historickefondy/images/hf-background-sites.jpg');
  background-repeat: repeat-x;
}