@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

.copyright {
  text-align: center;
}

html {
font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
background-color: #c9c9c9;
}

body {
margin: 0;
font-family: "Open sans";
font-size: 14px;
line-height: 20px;
color: #3D3D3D;
background-color: #c9c9c9;
}


.navbar .nav>li>a {
float: none;
padding: 0px 0px 00px;
color: #3D3D3D;
text-decoration: none;
text-transform:uppercase;
text-shadow: 0px -1px 0px #34312d;
}

.navbar .nav>li>a:hover {
  color: #cabfb5;
}


#header .header-finisher {
background-color: red;
background-repeat:no-repeat;
background-position: bottom right;
width: 20px;
height: inherit;
float:right;
}

#header {
background-color: transparent;
background-image: url('/themes/cistbrno/images/fonoteka-header-bg.png');
background-repeat:repeat-x;
background-position: bottom left;

  
}

.header-title {
font-size: 18px;
margin-top: 10px;
}

.header-logo {
margin-top: 0px;
margin-left: -20px;
}

a {
color: #3D3D3D;
text-decoration: none;
}

a:hover, a:focus {
color: #966023;
text-decoration: underline;
}

.label-info, .badge-info {
background-color: #516D86;
}

.label, .badge {
display: inline-block;
padding: 4px 6px;
font-size: 11.844px;
font-weight: normal;
line-height: 14px;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
white-space: nowrap;
vertical-align: baseline;
background-color: #999;
}


.breadcrumb {
padding: 8px 15px;
margin: 0 0 20px;
list-style: none;
}

.breadcrumb>li {
display: inline-block;
text-shadow: 0 0px 0 #fff;
}

.breadcrumb>.active {
color: #6B6859;
}

.breadcrumb>li>.divider {
padding: 0 5px;
color: #966D6D;
}

hr {
margin: 20px 0;
border: 0;
border-bottom: 1px solid #c9c9c9;
}

.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
}

.btn-link {
color: #CCCCCC;
cursor: pointer;
border-color: transparent;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}


p.homepage-citation {
  font-style:italic;
  margin-top: 50px;
}

p.homepage-citation-author {
  font-style:italic;
  text-align:right;
}

.row {
margin-left: 0px;
margin-top: 20px;
}

.copyright {
text-align: center;
margin-bottom: 20px;
}

strong {
font-weight: normal;
}

.navbar-form {
margin-bottom: 0;
margin-top: 30px;
}

.navbar .nav.pull-right {
float: right;
margin-right: 0;
padding-top: 50px;
}

.header-login {
margin-left: 20px;
margin-right: 20px;
margin-top: 5px;
}

.header-login a {
color: #3D3D3D;
}

.row-fluid .span3 {
margin-bottom: 50px;
}

ul, menu, dir {
display: block;
list-style-type: none;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

.container {
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
}

.row-fluid .title-page {
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
}

.searchbox-title {
  font-size: 51px;
  font-weight: 100;
  margin-top: 50px;
  margin-left: 20px;
  line-height: 1em;
}

.searchbox {
  margin-left: 20px;
}

.row .clearfix {
  margin-left: 20px;
}

.row-fluid .span8 {
  width: 35%;
}

.row .span1 {
  text-align: center;
}

.institutions {
  display: table;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.institutions img {
  margin-left: 40px;
}

.institutions a {
  opacity: 0.3;
}

.institutions a:hover {
  opacity: 1;
}






