<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CPK tests</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        CPK tests
                    </a>
                </li>
                <li>
                    <a href="index.html">Summary</a>
                </li>
                <li>
                    <a href="unit-tests.html">Unit tests</a>
                </li>
                <li>
                    <a href="system-tests.html">System tests</a>
                </li>
                <li>
                    <a href="logs.html">Logs</a>
                </li>
                <li>
                    <a href="ncip-tests.html">NCIP tests</a>
                </li>
                <li>
                    <a href="stress-tests.html">Stress tests</a>
                </li>
                <li>
                    <a href="accessibility.html">Accessibility</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Logs</h1>

						<div class='well'>
							<p>
[Fri Oct 02 13:31:26.143095 2015] [:error] [pid 30805] [client 93.99.138.27:62714] PHP Warning:  urlencode() expects parameter 1 to be string, array given in /data/www/beta.knihovny.cz/VuFind-2.x/themes/cpk-devel/templates/Recommend/SideFacets.phtml on line 35, referer: https://beta.knihovny.cz/Search/Results?join=AND&bool0%5B%5D=AND&lookfor0%5B%5D=liberec&type0%5B%5D=adv_search_subject_keywords&filter%5B%5D=language%3A%22English%22<br><br>
[Fri Oct 02 13:31:26.143160 2015] [:error] [pid 30805] [client 93.99.138.27:62714] PHP Warning:  urlencode() expects parameter 1 to be string, array given in /data/www/beta.knihovny.cz/VuFind-2.x/themes/cpk-devel/templates/Recommend/SideFacets.phtml on line 35, referer: https://beta.knihovny.cz/Search/Results?join=AND&bool0%5B%5D=AND&lookfor0%5B%5D=liberec&type0%5B%5D=adv_search_subject_keywords&filter%5B%5D=language%3A%22English%22<br><br>
[Fri Oct 02 13:32:30.026891 2015] [:error] [pid 30628] [client 66.249.78.11:33363] PHP Notice:  Trying to get property of non-object in /home/vufind/git/VuFind/themes/cpk-devel/templates/RecordDriver/SolrDefault/records-in-groups.phtml on line 8<br><br>
[Fri Oct 02 13:32:30.108661 2015] [:error] [pid 30628] [client 66.249.78.11:33363] PHP Notice:  Use of undefined constant html - assumed 'html' in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 458<br><br>
[Fri Oct 02 13:32:30.108704 2015] [:error] [pid 30628] [client 66.249.78.11:33363] PHP Notice:  Undefined index: annotation in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 458<br><br>
[Fri Oct 02 13:32:30.167699 2015] [:error] [pid 30628] [client 66.249.78.11:33363] PHP Notice:  Use of undefined constant html - assumed 'html' in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 458<br><br>
[Fri Oct 02 13:32:30.167739 2015] [:error] [pid 30628] [client 66.249.78.11:33363] PHP Notice:  Undefined index: annotation in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 458<br><br>
[Fri Oct 02 13:32:30.175523 2015] [:error] [pid 30628] [client 66.249.78.11:33363] PHP Notice:  Undefined index: restricted in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 157<br><br>
[Fri Oct 02 13:32:30.175557 2015] [:error] [pid 30628] [client 66.249.78.11:33363] PHP Notice:  Undefined index: ignoredVals in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 162<br><br>
[Fri Oct 02 13:58:15.248951 2015] [:error] [pid 30843] [client 66.249.78.108:35280] PHP Notice:  Use of undefined constant html - assumed 'html' in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 458
[Fri Oct 02 13:58:15.249016 2015] [:error] [pid 30843] [client 66.249.78.108:35280] PHP Notice:  Undefined index: annotation in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 458<br><br>
[Fri Oct 02 13:58:15.275283 2015] [:error] [pid 30843] [client 66.249.78.108:35280] PHP Notice:  Use of undefined constant html - assumed 'html' in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 458<br><br>
[Fri Oct 02 13:58:15.275319 2015] [:error] [pid 30843] [client 66.249.78.108:35280] PHP Notice:  Undefined index: annotation in /home/vufind/git/VuFind/module/CPK/src/CPK/RecordDriver/SolrMarc.php on line 458<br><br>

							</p>
							
						</div>
						<p><a href="#" class="btn btn-primary" role="button">Resolved. Purge log file</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
