<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CPK tests</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        CPK tests
                    </a>
                </li>
                <li>
                    <a href="index.html">Summary</a>
                </li>
                <li>
                    <a href="unit-tests.html">Unit tests</a>
                </li>
                <li>
                    <a href="system-tests.html">System tests</a>
                </li>
                <li>
                    <a href="logs.html">Logs</a>
                </li>
                <li>
                    <a href="ncip-tests.html">NCIP tests</a>
                </li>
                <li>
                    <a href="stress-tests.html">Stress tests</a>
                </li>
                <li>
                    <a href="accessibility.html">Accessibility</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Unit-tests</h1>

						<table class='table' data-toggle="table" data-url="data1.json" data-cache="false" data-height="299">
							<thead>
								<tr>
									<th>Part</th>
									<th>File</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Statistics</td>
									<td>./Statistics/neco.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								<tr>
									<td>Statistics</td>
									<td>./Statistics/necoJineho.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								<tr>
									<td>Catalog</td>
									<td>./Catalog/neco.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								<tr>
									<td class='warning'>E-version</td>
									<td class='warning'>./CPK/neco.test.php</td>
									<td class='warning'><span class="label label-danger">Failed</span></td>
								</tr>
								<tr>
									<td class='warning'>E-buy</td>
									<td class='warning'>./CPK/neco.test.php</td>
									<td class='warning'><span class="label label-danger">Failed</span></td>
								</tr>
								<tr>
									<td>CPKCommon</td>
									<td>./Statistics/neco.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								<tr>
									<td>Statistics</td>
									<td>./Statistics/neco.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								<tr>
									<td>Statistics</td>
									<td>./Statistics/neco.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								<tr>
									<td>Statistics</td>
									<td>./Statistics/necoJineho.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								<tr>
									<td class='warning'>E-buy</td>
									<td class='warning'>./CPK/neco.test.php</td>
									<td class='warning'><span class="label label-danger">Failed</span></td>
								</tr>
								<tr>
									<td>Catalog</td>
									<td>./Catalog/neco.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								
								
								<tr>
									<td class='warning'>E-version</td>
									<td class='warning'>./CPK/neco.test.php</td>
									<td class='warning'><span class="label label-danger">Failed</span></td>
								</tr>
								<tr>
									<td>CPKCommon</td>
									<td>./Statistics/neco.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
								<tr>
									<td>Statistics</td>
									<td>./Statistics/neco.test.php</td>
									<td><span class="label label-success">Success</span></td>
								</tr>
							</body>
						</table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
