//top and bottom borders
.title-page {
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
}

//big picture on left
.title-page > div > img {
  margin-left: -15px;
}

//institutions on bottom of homepage
.institutions {
  display: table;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  img {
    margin-left: 40px;
  }
  a {
    opacity: 0.3;
    &:hover{
      opacity: 1;
    }
  }
}