[System]
debug           = false

; Activate Captcha validation on select forms
; VuFind will use reCaptcha validation to prevent bots from using certain actions of
; your instance. See http://www.google.com/recaptcha for more information on Captcha
; and create keys for your domain.
; You will need to provide a sslcapath in the [Http] section for your Captcha to work.
[Captcha]
siteKey  = "6LceOg4TAAAAABNlNWpIH0cEjMhBOG_ec9eguSD_"
secretKey = "6LceOg4TAAAAAMIpTAknf9opttn04gqVrB0aS0rZ"
; Valid theme values: dark, light
theme      = light
; Valid forms values: changePassword, email, newAccount, passwordRecovery, sms
; Use * for all supported forms
forms = changePassword, email, newAccount, passwordRecovery, sms

[Site]
url             = https://cpk-front.mzk.cz/
email           = vufind@mzk.cz
theme		= cpk-devel-green
defaultCurrency	= CZK
browserDetectLanguage = false

[Record]
;This will build links from 7xx fiedls. Link is build from subfields x or z for searching by ISN, 
; or t for searching by AllFields.\
;Anchor is build from subfields t and g. Anchor in field 773 is build from all subfields.
;It is better than ;marc_links so use this instead of ;marc_link
fields_in_core = "773,770,772,777,780,785"

[Catalog]
library_cards = true
minHoldingsToApplyFilters = 30

[Index]
engine          = Solr
;url		= http://cpk-back.mzk.cz:8080/solr
;default_core    = biblio
url		= http://cpk-front.mzk.cz:8080/solr
;default_core   = index
default_core    = dedup1

[Authentication]
;method		= PerunShibboleth
method		= ShibbolethIdentityManager
;method		= ShibbolethWithWAYF

[Shibboleth]
login           = https://cpk-front.mzk.cz/Shibboleth.sso/DS
logout          = https://cpk-front.mzk.cz/Shibboleth.sso/Logout

target		= https://cpk-front-devel.mzk.cz/MyResearch/Home
getAssertion    = 1

[Database]
database        = mysql://user:pw@localhost/dbName

[Logging]
file            = /home/vufind/git/VuFind/messages-front.log:alert,error
;file            = /home/vufind/git/VuFind/messages-front.log:alert,error,notice,debug

[ExternalLinks]
BOA001		= "https://vufind.mzk.cz/Record/"
BOA001_end	= "/Holdings#tabnav"
OLA001		= "http://aleph.vkol.cz/F?func=direct&doc_number="
ZLG001		= "http://katalog.kfbz.cz/documents/"
HKA001		= "http://aleph2.svkhk.cz/F?func=direct&doc_number="
ABA013		= "http://aleph.techlib.cz/F?func=direct&doc_number="
ABA008		= "http://www.medvik.cz/medvik/title_detail.do?id="

[Piwik]
url     = "https://cpk-front.mzk.cz/piwik"
site_id = 1

; Enables facets this way
custom_variables = true

; Enables tracking User's active Library Card & UserId
track_user = true

; Enables ClickHeat plugin
click_heat_plugin      = false
click_heat_site_number = 1

[PiwikStatistics]
trust_ssl_host  =       true
piwik_token_auth                = "8610953c16b8c1d173f05f6c8b9bc533"
default_statistics_url  = "https://cpk-front.mzk.cz/Statistics"
piwik_url                               = "https://cpk-front.mzk.cz/piwik"
site_id                                 = 1
catalog_browser_url             = "https://cpk-front.mzk.cz/Browse/"
search_results_url              = "https://cpk-front.mzk.cz/Search/Results"
record_url                              = "https://cpk-front.mzk.cz/Record/"
item_reservation_url    = ""
item_prolongation_url   = ""
user_registration_url   = ""
user_prolongation_url   = ""

[IdPLogos]
upce.cz = https://idp.upce.cz/images/logo-40.png
psu.cas.cz = https://jiftach.cas.cz/loga/logo-psu-44.png
uhk.cz = https://idp.uhk.cz/images/logo_40.png
cs.cas.cz = https://jiftach.cas.cz/loga/logo-ui-44.png
fel.cvut.cz = https://login.fel.cvut.cz/img/logo_cvut_40pix.png
asu.cas.cz = https://idp.asu.cas.cz/logo-asu_99_40.png
vutbr.cz = https://www2.eduid.cz/idp-loga/vut.png
soc.cas.cz = https://jiftach.cas.cz/loga/logo-soc-44.png
tul.cz = https://liane.tul.cz/img/znak-tul.png
utb.cz = https://shibboleth.utb.cz/idp/images/logo_cs_150x20.png
mbu.cas.cz = https://jiftach.cas.cz/loga/logo-mbu-44.png
recamo.cz = https://idp.recamo.cz/idp/images/Mou_Logo_IDP_Recamo.png
ipp.cas.cz = https://jiftach.cas.cz/loga/logo-ipp-44.png
math.cas.cz = https://jiftach.cas.cz/loga/logo-math-44.png
fnhk.cz = https://idp1.fnhk.cz/images/logo_fnhk.jpg
mlp.cz = https://web2.mlp.cz/obr2/mkp-logo-cz3.gif
vsb.cz = https://www2.eduid.cz/idp-loga/vsb.jpeg
ufe.cas.cz = https://jiftach.cas.cz/loga/logo-ufe-44.png
cesnet.cz = https://pki.cesnet.cz/_media/cs/cesnet-logo-200.gif
amu.cz = https://www2.eduid.cz/idp-loga/amu.png
techlib.cz = https://www.techlib.cz/public/images/logo-eduid.png
img.cas.cz = https://idp.img.cas.cz/images/img_logo_small.png
medvik.cz = https://www.medvik.cz/images/medvik-logo.png
upol.cz = https://www2.eduid.cz/idp-loga/upol.gif
vse.cz = https://www2.eduid.cz/idp-loga/vse.png
gapps.zcu.cz = https://shib.zcu.cz/icons/zcu_logo_40px.png
svkhk.cz = https://aleph.svkhk.cz/idp/images/logo_40.png
slu.cz = https://www2.eduid.cz/idp-loga/slu.png
bc.cas.cz = https://jiftach.cas.cz/loga/logo-bc-44.png
ipm.cas.cz = https://jiftach.cas.cz/loga/logo-ipm-44.png
nkp.cz = https://www2.eduid.cz/idp-loga/nkp.png
cvut.cz = https://idp2.civ.cvut.cz/idp/images/logo_cvut_40pix.png
icpf.cas.cz = https://jiftach.cas.cz/loga/logo-icpf-44.png
fgu.cas.cz = https://jiftach.cas.cz/loga/logo-fgu-44.png
isibrno.cas.cz = https://jiftach.cas.cz/loga/logo-upt-44.png
jamu.cz = https://www.jamu.cz/graphics/janacek.png
uochb.cas.cz = http://data.uochb.cas.cz/logo1.png
cuni.cz = https://ldap.cuni.cz/images/UK_logo_40.png
gli.cas.cz = https://jiftach.cas.cz/loga/logo-gli-44.png
ujf.cas.cz = https://jiftach.cas.cz/loga/logo-ujf-44.png
vscht.cz = https://wsso.vscht.cz/logo_vscht_40px.png
fnbrno.cz = https://www.eduid.cz/idp-loga/fnbrno.png
jcu.cz = http://helium.jcu.cz/logo-ju-40.png
ueb.cas.cz = https://jiftach.cas.cz/loga/logo-ueb-44.png
ujep.cz = https://trilian.ujep.cz/logo_ujep40.png
svkos.cz = https://katalog.svkos.cz/logo/logo_40.png
lib.cas.cz = https://www2.eduid.cz/idp-loga/kav.jpg
mzk.cz = https://www2.eduid.cz/idp-loga/mzk.png
muni.cz = https://idp2.ics.muni.cz/logo.png
cvgz.cas.cz = https://jiftach.cas.cz/loga/logo-cvgz-44.png
czu.cz = http://webcore.czu.cz/img/lista_logo.png
hiu.cas.cz = https://jiftach.cas.cz/loga/logo-hiu-44.png
ssc.cas.cz = https://jiftach.cas.cz/loga/logo-ssc-44.png
itam.cas.cz = https://jiftach.cas.cz/loga/logo-itam-44.png
fzu.cas.cz = https://jiftach.cas.cz/loga/logo-fzu-40.png
ibp.cas.cz = https://jiftach.cas.cz/loga/logo-ibp-44.png
osu.cz = https://idptoo.osu.cz/simplesaml/logo_ou.png
digiknihovna.cz = https://shibboleth.digiknihovna.cz/logo.png

facebook.extidp.cesnet.cz = https://extidp.cesnet.cz/idp/loga/fb50.png
mojeid.extidp.cesnet.cz = https://extidp.cesnet.cz/idp/loga/mojeid50.png
google.extidp.cesnet.cz = https://extidp.cesnet.cz/idp/loga/googleicon50.png
linkedin.extidp.cesnet.cz = https://extidp.cesnet.cz/idp/loga/LinkedIn50.png

[IdPLogosMappedToSolr]
ntk = techlib.cz 
nlk = medvik.cz 
svkhk = svkhk.cz 
nkp = nkp.cz 
mzk = mzk.cz 
tre = digiknihovna.cz
