[System]
debug           = false

; Activate Captcha validation on select forms
; VuFind will use reCaptcha validation to prevent bots from using certain actions of
; your instance. See http://www.google.com/recaptcha for more information on Captcha
; and create keys for your domain.
; You will need to provide a sslcapath in the [Http] section for your Captcha to work.
[Captcha]
siteKey  = "6LceOg4TAAAAABNlNWpIH0cEjMhBOG_ec9eguSD_"
secretKey = "6LceOg4TAAAAAMIpTAknf9opttn04gqVrB0aS0rZ"
; Valid theme values: dark, light
theme      = light
; Valid forms values: changePassword, email, newAccount, passwordRecovery, sms
; Use * for all supported forms
forms = changePassword, email, newAccount, passwordRecovery, sms

[Site]
url             = https://cpk-front.mzk.cz/
email           = vufind@mzk.cz
theme		= cpk-devel-green
defaultCurrency	= CZK
browserDetectLanguage = false
defaultAccountPage = CheckedOut

notificationsEnabled = true
;notificationsEnabled = false

offlineFavoritesEnabled = true
;offlineFavoritesEnabled = false

[Record]
;This will build links from 7xx fiedls. Link is build from subfields x or z for searching by ISN, 
; or t for searching by AllFields.\
;Anchor is build from subfields t and g. Anchor in field 773 is build from all subfields.
;It is better than ;marc_links so use this instead of ;marc_link
fields_in_core = "773,770,772,777,780,785"

[Catalog]
library_cards = true
minHoldingsToApplyFilters = 30

[Index]
engine          = Solr
;url		= http://cpk-back.mzk.cz:8080/solr
;default_core    = biblio
url		= http://cpk-front.mzk.cz:8080/solr
;default_core   = index
default_core    = beta

[Authentication]
;method		= PerunShibboleth
method		= ShibbolethIdentityManager
;method		= ShibbolethWithWAYF

[Shibboleth]
login           = https://cpk-front.mzk.cz/Shibboleth.sso/DS
logout          = https://cpk-front.mzk.cz/Shibboleth.sso/Logout

target		= https://cpk-front-devel.mzk.cz/MyResearch/Home
getAssertion    = 1

[Database]
database        = mysql://user:pw@localhost/dbName

[Logging]
file            = /home/vufind/git/VuFind/messages-front.log:alert,error
;file            = /home/vufind/git/VuFind/messages-front.log:alert,error,notice,debug

[ExternalLinks]
BOA001		= "https://vufind.mzk.cz/Record/"
BOA001_end	= "/Holdings#tabnav"
OLA001		= "http://aleph.vkol.cz/F?func=direct&doc_number="
ZLG001		= "http://katalog.kfbz.cz/documents/"
HKA001		= "http://aleph2.svkhk.cz/F?func=direct&doc_number="
ABA013		= "http://aleph.techlib.cz/F?func=direct&doc_number="
ABA008		= "http://www.medvik.cz/medvik/title_detail.do?id="

[Piwik]
url     = "https://cpk-front.mzk.cz/piwik"
site_id = 1

; Enables facets this way
custom_variables = true

; Enables tracking User's active Library Card & UserId
track_user = true

; Enables ClickHeat plugin
click_heat_plugin      = false
click_heat_site_number = 1

[PiwikStatistics]
trust_ssl_host  =       true
piwik_token_auth                = "8610953c16b8c1d173f05f6c8b9bc533"
default_statistics_url  = "https://cpk-front.mzk.cz/Statistics"
piwik_url                               = "https://cpk-front.mzk.cz/piwik"
site_id                                 = 1
catalog_browser_url             = "https://cpk-front.mzk.cz/Browse/"
search_results_url              = "https://cpk-front.mzk.cz/Search/Results"
record_url                              = "https://cpk-front.mzk.cz/Record/"
item_reservation_url    = ""
item_prolongation_url   = ""
user_registration_url   = ""
user_prolongation_url   = ""
