[mzk]
entityId      = https://shibboleth.mzk.cz/simplesaml/metadata.xml
username      = eduPersonPrincipalName
cat_username  = aleph-id
email         = mail
firstname     = givenName
lastname      = sn
cat_password  = alephId

[svkhkcz]
entityId	= https://aleph.svkhk.cz/idp/shibboleth
epsa		= eduPersonScopedAffiliation
username	= aleph-id
cat_username	= aleph-id
firstname	= cn
lastname	= cn
email		= mail

[default]
username      = eduPersonPrincipalName
cat_username  = aleph-id

[Shib-NCIP-DS]
entityId      = https://shibboleth.localhost/ds-metadata.xml
username      = eduPersonPrincipalName
cat_username  = userLibraryId
email         = mail
firstname     = givenName
lastname      = sn
home_library  = homeLib

[Shib-NCIP-DS-CPK]
entityId      = https://cpk-front.mzk.cz/simplesaml/saml2/idp/metadata.php
username      = eduPersonPrincipalName
cat_username  = userLibraryId
email         = mail
firstname     = givenName
lastname      = sn
home_library  = homeLib
