---
# Listing of search types and their component parts and weights.
#
# Format is:
#  searchType:
#    # CustomMunge is an optional section to define custom pre-processing of
#    #     user input.  See below for details of munge actions.
#    CustomMunge:
#      MungeName1:
#        - [action1, actionParams]
#        - [action2, actionParams]
#        - [action3, actionParams]
#      MungeName2:
#        - [action1, actionParams]
#    # DismaxFields is optional and defines the fields sent to the Dismax handler
#    #     when we are able to use it.  QueryFields will be used for advanced
#    #     searches that Dismax cannot support.  QueryFields is always used if no
#    #     DismaxFields section is defined.
#    DismaxFields:
#      - field1^boost
#      - field2^boost
#      - field3^boost
#    # DismaxParams is optional and allows you to override default Dismax settings
#    #     (i.e. mm / bf) on a search-by-search basis.  If you want global default
#    #     values for these settings, you can edit the "dismax" search handler in
#    #     solr/biblio/conf/solrconfig.xml.
#    DismaxParams:
#      - [param1_name, param1_value]
#      - [param2_name, param2_value]
#      - [param3_name, param3_value]
#    # QueryFields define the fields we are searching when not using Dismax
#    QueryFields:
#      SolrField:
#        - [howToMungeSearchstring, weight]
#        - [differentMunge, weight]
#      DifferentSolrField:
#        - [howToMunge, weight]
#    # The optional FilterQuery section allows you to AND a static query to the
#    #     dynamic query generated using the QueryFields; see JournalTitle below
#    #     for an example.  This is applied whether we use DismaxFields or
#    #     QueryFields.
#    FilterQuery: (optional Lucene filter query)
#
# ...etc.
#
#-----------------------------------------------------------------------------------
#
# Within the QueryFields area, fields are OR'd together, unless they're in an
# anonymous array with a numeric instead of alphanumeric key, in which case the
# first element is a two-value array that tells us what the type (AND or OR) and
# weight of the whole group should be.
#
# So, given:
#
# test:
#   QueryFields:
#     A:
#       - [onephrase, 500]
#       - [and, 200]
#     B:
#       - [and, 100]
#       - [or, 50]
#     # Start an anonymous array to group; first element indicates AND grouping
#     #     and a weight of 50
#     0:
#       0:
#         - AND
#         - 50
#       C:
#         - [onephrase, 200]
#       D:
#         - [onephrase, 300]
#       # Note the "not" attached to the field name as a minus, and the use of ~
#       #     to mean null ("no special weight")
#       -E:
#         - [or, ~]
#     D:
#       - [or, 100]
#
#  ...and the search string
#
#      test "one two"
#
#  ...we'd get
#
#   (A:"test one two"^500 OR
#    A:(test AND "one two")^ 200 OR
#    B:(test AND "one two")^100 OR
#    B:(test OR "one two")^50
#    (
#      C:("test one two")^200 AND
#      D:"test one two"^300 AND
#      -E:(test OR "one two")
#    )^50 OR
#    D:(test OR "one two")^100
#   )
#
#-----------------------------------------------------------------------------------
#
# Munge types are based on the original Solr.php code, and consist of:
#
# onephrase: eliminate all quotes and do it as a single phrase.
#   testing "one two"
#    ...becomes ("testing one two")
#
# and: AND the terms together
#  testing "one two"
#   ...becomes (testing AND "one two")
#
# or: OR the terms together
#  testing "one two"
#   ...becomes (testing OR "one two")
#
# identity: Use the search as-is
#  testing "one two"
#   ...becomes (testing "one two")
#
# Additional Munge types can be defined in the CustomMunge section.  Each array
# entry under CustomMunge defines a new named munge type.  Each array entry under
# the name of the munge type specifies a string manipulation operation.  Operations
# will be applied in the order listed, and different operations take different
# numbers of parameters.
#
# Munge operations:
#
# [append, text] - Append text to the end of the user's search string
# [lowercase] - Convert string to lowercase
# [preg_replace, pattern, replacement] - Perform a regular expression replace
#     using the preg_replace() PHP function.  If you use backreferences in your
#     replacement phrase, be sure to escape dollar signs (i.e. \$1, not $1).
# [uppercase] - Convert string to uppercase
#
# See the CallNumber search below for an example of custom munging in action.
#-----------------------------------------------------------------------------------

# These searches use Dismax when possible:
Author:
  DismaxFields:
    - author_search^150
    - author^100
    - author_fuller^50
    - author2
    - author_viz
    - corporation_viz
    - author_additional
    - author_find
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
  QueryFields:
    author_search:
      - [onephrase, 350]
      - [and, 200]
    author:
      - [onephrase, 350]
      - [and, 200]
    author_fuller:
      - [onephrase, 200]
      - [and, 100]
    author2:
      - [onephrase, 100]
      - [and, 50]
    author_viz:
      - [onephrase, 100]
      - [and, 50]
    corporation_viz:
      - [onephrase, 100]
      - [and, 50]
    author_additional:
      - [onephrase, 100]
      - [and, 50]
    author_find:
      - [onephrase, 100]
      - [and, 50]

ISN:
  DismaxFields:
    - isbn
    - issn
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
  QueryFields:
    issn:
      - [and, 100]
    isbn:
      - [and, 100]

Subject:
  DismaxFields:
    - topic_unstemmed^150
    - topic^100
    - geographic^50
    - genre^50
    - era
    - subject_viz
    - genre_viz
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
  QueryFields:
    topic_unstemmed:
      - [onephrase, 350]
      - [and, 150]
    topic:
      - [onephrase, 300]
      - [and, 100]
    geographic:
      - [onephrase, 300]
      - [and, 100]
    genre:
      - [onephrase, 300]
      - [and, 100]
    era:
      - [and, 100]
    subject_viz:
      - [onephrase, 200]
      - [and, 100]
    genre_viz:
      - [onephrase, 200]
      - [and, 100]
Inspiration:
  DismaxFields:
    - inspiration
  QueryFields:
    inspiration:
      - [onephrase, 100]

# This field definition is a compromise that supports both journal-level and
# article-level data.  The disadvantage is that hits in article titles will
# be mixed in.  If you are building a purely article-oriented index, you should
# customize this to remove all of the title_* fields and focus entirely on the
# container_title field.
JournalTitle:
  DismaxFields:
    - title_short^500
    - title_full_unstemmed^450
    - title_full^400
    - title^300
    - container_title^250
    - title_alt^200
    - title_new^100
    - title_old
    - series^100
    - series2
  QueryFields:
    title_short:
      - [onephrase, 500]
    title_full_unstemmed:
      - [onephrase, 450]
      - [and, 400]
    title_full:
      - [onephrase, 400]
    title:
      - [onephrase, 300]
      - [and, 250]
    container_title:
      - [onephrase, 275]
      - [and, 225]
    title_alt:
      - [and, 200]
    title_new:
      - [and, 100]
    title_old:
      - [and, ~]
    series:
      - [onephrase, 100]
      - [and, 50]
    series2:
      - [onephrase, 50]
      - [and , ~]

Title:
  DismaxFields:
    - title_short^500
    - title_full_unstemmed^450
    - title_full^400
    - title^300
    - title_alt^200
    - title_new^100
    - title_old
    - term_exact
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
  QueryFields:
    title_short:
      - [onephrase, 500]
    title_full_unstemmed:
      - [onephrase, 450]
      - [and, 400]
    title_full:
      - [onephrase, 400]
    title:
      - [onephrase, 300]
      - [and, 250]
    title_alt:
      - [and, 200]
    title_new:
      - [and, 100]
    title_old:
      - [and, ~]  

Series:
  DismaxFields:
    - series^100
    - series2
  QueryFields:
    series:
      - [onephrase, 500]
      - [and, 200]
    series2:
      - [onephrase, 50]
      - [and, 50]

AllFields:
  DismaxFields:
    - title_short^750
    - title_full_unstemmed^600
    - title_full^400
    - title^500
    - title_alt^200
    - title_new^100
    - series^50
    - series2^30
    - author^500
    - author2^400
    - author_viz^300
    - corporation_viz^300
    - author_fuller^150
    - contents^10
    - topic_unstemmed^550
    - topic^500
    - geographic^300
    - genre^300
    - subject_viz^100
    - genre_viz^100
    - publishDate_txt_mv^50
    - term_exact
    - allfields_unstemmed^10
    - fulltext_unstemmed^10
    - allfields
    - fulltext
    - toc_txt_mv^15
    - isbn
    - issn
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bq, "term_exact:\"@query\"^30000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    0:
      0:
        - OR
        - 50
      title_short:
        - [onephrase, 750]
      title_full_unstemmed:
        - [onephrase, 600]
        - [and, 500]
      title_full:
        - [onephrase, 400]
      title:
        - [onephrase, 300]
        - [and, 250]
      title_alt:
        - [and, 200]
      title_new:
        - [and, 100]
    series:
      - [and, 50]
    series2:
      - [and, 30]
    author:  
      - [onephrase, 300]
      - [and, 250]
    author2:
      - [onephrase, 250]
      - [and, 200]
    author_viz:
      - [onephrase, 200]
      - [and, 150]
    corporation_viz:
      - [onephrase, 100]
      - [and, 50]
    author_fuller:
      - [onephrase, 150]
      - [and, 125]
    author_additional:
      - [and, 50]
    contents:
      - [and, 10]
    topic_unstemmed:
      - [onephrase, 550]
      - [and, 500]
    topic:
      - [onephrase, 500]
    geographic:
      - [onephrase, 300]
    genre:
      - [onephrase, 300]
    subject_viz:
      - [onephrase, 200]
    genre_viz:
      - [onephrase, 200]
    allfields_unstemmed:
      - [and, 10]
    fulltext_unstemmed:
      - [and, 10]
    allfields:
      - [and, ~]
    fulltext:
      - [and, ~]
    toc_txt_mv:
      - [onephrase, ~]
    isbn:
      - [onephrase, ~]
    issn:
      - [onephrase, ~]
  FilterQuery: "NOT recordtype:sfx"
#  ExactSettings:
#    DismaxFields:
#      - title_full_unstemmed^600
#      - topic_unstemmed^550
#      - allfields_unstemmed^10
#      - fulltext_unstemmed^10
#      - isbn
#      - issn
#    QueryFields:
#      title_full_unstemmed:
#        - [onephrase, 600]
#        - [and, 500]
#      topic_unstemmed:
#        - [onephrase, 550]
#        - [and, 500]
#      allfields_unstemmed:
#        - [or, 10]
#      fulltext_unstemmed:
#        - [or, 10]
#      isbn:
#        - [onephrase, ~]
#      issn:
#        - [onephrase, ~]


adv_search_title_series:
  DismaxFields:
    - title_short^500
    - title_full_unstemmed^450
    - title_full^400
    - title^300
    - title_alt^200
    - title_new^100
    - title_old
    - titleSeries_search_txt_mv
    - term_exact
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bq, "term_exact:\"@query\"^30000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    titleSeries_search_txt_mv:
      - [onephrase, 100]
      - [and, 50]

adv_search_author_corporation:
  DismaxFields:
    - author_search^150
    - author^100
    - author_fuller^50
    - author2
    - author_viz
    - corporation_viz
    - author_additional
    - author_find
    - authorCorporation_search_txt_mv
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    authorCorporation_search_txt_mv:
      - [onephrase, 100]
      - [and, 50]
    author_viz:
    - [onephrase, 50]
    - [and, 20]  
    corporation_viz:
    - [onephrase, 50]
    - [and, 20]  

adv_search_subject_keywords:
  DismaxFields:
    - topic_unstemmed^150
    - topic^100
    - geographic^50
    - genre^50
    - era
    - subject_viz
    - genre_viz
    - subjectKeywords_search_txt_mv
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    subjectKeywords_search_txt_mv:
      - [onephrase, 100]
      - [and, 50]
    subject_viz:
      - [onephrase, 50]
      - [and, 20]
    genre_viz:
      - [onephrase, 50]
      - [and, 20]
      
adv_search_source_title:
  DismaxFiels:
   - sourceTitle_search_txt_mv
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    sourceTitle_search_txt_mv:
      - [onephrase, 100]
      - [and, 50]

adv_search_isbn_issn_ismn:
  QueryFields:
    issnIsbnIsmn_search_str_mv:
      - [onephrase, 100]
      - [and, 50]

adv_search_call_number:
  Dismaxfields:
    - callNumber_search_txt_mv
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    callNumber_search_txt_mv:
      - [onephrase, 100]
      - [and, 50]

adv_search_publisher:
  Dismaxfields:
    - publisher_search_txt_mv
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    publisher_search_txt_mv:
      - [onephrase, 100]
      - [and, 50]

adv_search_year_of_publication:
  Dismaxfields:
     - publishDate
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    publishDate:
      - [onephrase, 100]
      - [and, 50]

adv_search_place_of_publication:
  Dismaxfields:
    - placeOfPublication_txt_mv
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    placeOfPublication_txt_mv:
      - [onephrase, 100]
      - [and, 50]

adv_search_001:
  Dismaxfields:
    - id001_search
    - id_authority
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    id001_search:
      - [onephrase, 100]
      - [and, 50]
    id_authority:
      - [onephrase, 100]
      - [and, 50]

adv_search_nbn:
  Dismaxfields:
    - cnb_search_str
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    cnb_search_str:
      - [onephrase, 100]
      - [and, 50]
      
adv_search_fulltext:
  Dismaxfields:
   - toc_txt_mv^10
   - fulltext
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    fulltext:
      - [onephrase, 100]
      - [and, 50]
    toc_txt_mv:
      - [onephrase, 100]
      - [and, 50]

adv_search_ipc:
  Dismaxfields:
    - ipc_search_txt_mv
  DismaxParams:
    - [bq, "inspiration:top_results^1"]
    - [bf, "if(exists(merged_records_boolean),10000,0)" ]
    - [bq, "author_exact:\"@query\"^20000"]
    - [bq, "title_exact:\"@query\"^10000"]
    - [bf, ord(publishDateSort)^1]
  DismaxHandler: edismax
  QueryFields:
    ipc_search_txt_mv:
      - [onephrase, 100]
      - [and, 50] 

Libraries:
  DismaxFields:
    - name_search_txt^500
    - name_alt_search_txt_mv^400
    - code_search_txt^300
    - town_search_txt^100
    - address_search_txt_mv
    - note_search_txt
    - type_search_txt
    - function_search_txt_mv
    - responsibility_search_txt_mv
    - services_search_txt_mv
    - projects_search_txt_mv
    - note2_search_txt
    - branch_search_txt
    - sigla_search_txt
    - cpk_code_search_txt_mv
  FilterQuery: "recordtype:library"
  DismaxParams:
    - [bf, ord(library_relevance_str)^9999]
    - [bq, "inspiration:top_results^1"]
  DismaxHandler: edismax
