<td class="col-xs-3">
	{{ newTranslation.key }}
</td>
<td ng-dblclick="transCtrl.editTranslation($event)" ng-repeat="newTranslationLang in newTranslation.langValues">
    <div>
	  <ins style="color: green">
		{{ newTranslationLang.value }}
	  </ins>
	</div>
	<input class="hidden" type="text"
       name="{{ newTranslationLang.name }}" required="required"
       value="{{ newTranslationLang.value }}"
       ng-keydown="transCtrl.oldTranslationKeyDown($event)"
       ng-blur="transCtrl.oldTranslationBlurred($event)" />
</td>
<td class="col-xs-1">
  <a class="btn btn-link" href="#" ng-click="transCtrl.removeTranslation($event)">
  <i class="fa fa-trash-o"></i> {{ 'remove_translation' | translate }}</a>
</td>