/* This file contains:
    -cpk specific facet styling
*/

//part with cpk custom changes
//////////////////////////////
.sidebar .facet {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;

  a {
    //color: #8a8a8a;
    color: #333;
    &:hover {
      text-decoration: underline;
    }
  }
  .badge {
    font-weight: normal;
    color: grey;
    background-color: transparent;
  }
  .jstree-ocl:before {
    margin-left: -18px;
    font-size: 20px;
    margin-top: -5px;
    color: #e5004b
  }
}
.sidebar {
  .list-group-item {
    padding: 2px 16px 2px 26px;
    background-color: inherit;
    border: 0px;
  }

  .list-group-item.active {
    background-color: @brand-primary;
    &:hover, &:focus {
      outline: none;
    }
  }
  .list-group, .tt-dropdown-menu {
      background-color: inherit;
  }

  .list-group-item.title {
      font-size: 120%;
      font-weight: normal;
  }

  #side-panel-institution {
    background-color: #333;
    color: white;
  }

}

li.jstree-facet ul {
  padding-left: 21px;
}

.sidebar .list-group:not(.filters) {
  .title::after {
      content: none;
      color: #e5004b !important;
  }

  .title::before {
      content: "⇱ ";
      color: #e5004b !important;
  }

  .title.collapsed::after {
      color: #e5004b !important;
      content: none;
  }

  .title.collapsed::before {
      content: "⇲ ";
  }
}



//date visualization
////////////////////
#dateVisColorSettings {
  background-color: #FFF;
  fill: #eaeaea;
  outline-color: lighten(@brand-primary, 20%);
  stroke: #333;
}
