/*
  This file contains styling of record page
*/

//record view
.template-dir-record > .container {
  padding: 0px;
}

// records in groups
.single-institution{
  color: #333;
  background-color: #FFF;
  display: inline-block;
  margin-bottom: 0px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 0px;
}

.btn-default#records-in-groups-nav{
  white-space: normal;
}

//citations
#citace-pro > td{
  padding:0;
}


//sidebar:
//record view
.record-export {
  position: relative;
}
.record-toolbar li {
  padding-left: 0px !important;
}
.record-export li a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

//similar items in sidebar

.similar-item {
  -webkit-box-shadow:inset 0px 0px 0px 2px #eee;
  -moz-box-shadow:inset 0px 0px 0px 2px #eee;
  box-shadow:inset 0px 0px 0px 2px #eee;
}
.similar-item:hover {
  -webkit-box-shadow:inset 0px 0px 0px 2px #2196f3;
  -moz-box-shadow:inset 0px 0px 0px 2px #2196f3;
  box-shadow:inset 0px 0px 0px 2px #2196f3;
}

