//date visualization
#dateVisColorSettings {
  background-color: #FFF;
  fill: #eaeaea;
  outline-color: lighten(@brand-primary, 20%);
  stroke: #333;
}

.authorbox{
  margin-top: -20px;
}


//search controls on search results page on 1 line
.search-controls .form-inline {
  display: inline-block;
}

.result {
  background-color: #fff;
  padding-top: 19px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-radius: 0px;
  border: 0;

}

.records-in-libraries-divider{
	margin-top: 10px;
	margin-bottom: 10px;
}

.list-group, .tt-dropdown-menu {
  // No need to set list-style: none; since .list-group-item is block level
  margin-bottom: 10px;
  background-color: #fff;
  padding-left: 0; // reset padding because ul and ol
}

//library names in facets on multiple lines, do not crop on one line
.jstree-facet li span.main {
  white-space: normal;
}

//formats
.format-list{
  margin:5px 0px;
}
.format-text{
  font-size:12px;
}
.iconlabel{
  display: inline-block;
}


//list of search results
.root-title{
  margin-bottom:10px;
}

.result a.title, a.title {
  font-weight: normal;
  font-size: 16px;
}

.row .want-it {
  border-top: 1px solid #EEEEEE;
}

.btn-group > .btn + .dropdown-toggle{
  margin-top:10px;
  margin-bottom:10px;
  background-color:#dedede;
  border:0px;
  &:hover{
    background-color: black;
    color:white;
  }
}

.fa {
  &.books:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e61b";
  }
  &.electronicsource:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //globe
    //content: "\f0ac"
    content: "\e625";
  }
  &.other:before, &.otherunspecified:before, {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //question
    //content: "\f128"
    content: "\e60d";
  }
  &.otherobject:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //cube
    //content: "\f1b2"
    content: "\e602";
  }
  &.periodicals:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //newspaper-o
    //content: "\f1ea"
    content: "\e608";
  }
  &.visualdocuments:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //picture-o
    //content: "\f03e"
    content: "\e60b";
  }
  &.articles:before, &.manuscripts:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //file-text-o
    //content: "\f0f6"
    content: "\e60d";
  }
  &.audio:before, &.audiocd:before, &.audioother:before, &.audiocassette:before, &.audiolp:before, &.audiodvd:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //fa-file-audio-o
    //content: "\f1c7"
    content: "\e617";
  }
  &.musicalscores:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e619";
  }


  &.maps:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //map
    //content: "\f279"
    content: "\e61a";
  }
  &.video:before, &.videodvd:before, &.videoother:before, &.videocd:before , &.videovhs:before, &.videobluray:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //file-video-o
    //content: "\f1c8"
    content: "\e61c";
  }
  &.largeprints:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //search-plus
    //content: "\f00e"
    content: "\e61d";
  }
  &.otherbraille:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //eye-slash
    //content: "\f070"
    content: "\e623";
  }
  &.othermicroforms:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //search-minus
    //content: "\f010"
    content: "\e624";
  }


  &.othermixdocument:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e616";
  }

  &.norms:before {
    font-family: 'knihovny';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e607";
  }






}
