//date visualization
#dateVisColorSettings {
  background-color: #FFF;
  fill: #eaeaea;
  outline-color: lighten(@brand-primary, 20%);
  stroke: #333;
}

.authorbox{
  margin-top: -20px;
}


//search controls on search results page on 1 line
.search-controls .form-inline {
  display: inline-block;
}

.result {
  //background-color: #fff;
  //padding-top: 19px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  //margin-bottom: 10px;
  //border-radius: 0px;
  //border: 0;

}

.records-in-libraries-divider{
	margin-top: 10px;
	margin-bottom: 10px;
}

.list-group, .tt-dropdown-menu {
  // No need to set list-style: none; since .list-group-item is block level
  margin-bottom: 10px;
  background-color: #fff;
  padding-left: 0; // reset padding because ul and ol
}

//library names in facets on multiple lines, do not crop on one line
.jstree-facet li span.main {
  white-space: normal;
}

//formats
.format-list{
  margin:5px 0px;
}
.format-text{
  font-size:12px;
}
.iconlabel{
  display: inline-block;
}


//list of search results
.root-title{
  margin-bottom:10px;
}

.result a.title, a.title {
  font-weight: normal;
  font-size: 16px;
}

.btn-group > .btn + .dropdown-toggle{
  margin-top:10px;
  margin-bottom:10px;
  background-color:#dedede;
  border:0px;
  &:hover{
    background-color: black;
    color:white;
  }
}
