//search controls on search results page on 1 line
.search-controls .form-inline {
  display: inline-block;
}


//list of search results
.root-title{
  margin-bottom:10px;
}

.result a.title {
  font-weight: normal;
  font-size: 16px;
}

.chci-to{
  margin-top:10px;
  margin-bottom:10px;
  border:0px;
  &:hover{
    background-color: black;
    color:white;
  }
}


.btn-group > .btn + .dropdown-toggle{
  margin-top:10px;
  margin-bottom:10px;
  background-color:#dedede;
  border:0px;
  &:hover{
    background-color: black;
    color:white;
  }
}

.fa-heart {
  color: @brand-primary;
}