/*
  This file contains styling of searchbox and autocomplete
*/

//searchbox
///////////
.container > .well{
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  #searchForm_type {
    margin-top: 3px;
    margin-bottom: 10px;
  }
}
.searchForm{
  width: 100%;
}
.search-form-container{
  padding: 0px;
  & > .twitter-typeahead{
    width: 100%;
  }
}
#searchForm_lookfor{
  width: 100%;
}
.find-button {
  border-color: @brand-primary;
}
.form-control {
  max-width: 1000px;
}
.navbar-form .form-control {
  margin-right: -5px;
}

//styling of cross for clearing search
#searchclear {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

//IE only
//do not show default IE button for clearing search form - prevent duplication
#searchForm_lookfor::-ms-clear {
  display: none;
}

//autocomplete
//////////////
.autocomplete-results .autocomplete-results-category {
  background-color: #333;
  color: #eee;
  font-weight: bold;
  padding: 2px 0px 2px 8px;
}
.autocomplete-results .item {
  padding-top: 4px;
  padding-bottom: 4px;
}