<VirtualHost *:80>
   ServerName http://localhost:80
   ServerAdmin yourDeveloper@mailAddress.com


   # Configuration for theme-specific resources:
   AliasMatch ^/themes/([0-9a-zA-Z-_]*)/css/(.*)$ /path/to/your/VuFind/themes/$1/css/$2
   AliasMatch ^/themes/([0-9a-zA-Z-_]*)/images/(.*)$ /path/to/your/VuFind/themes/$1/images/$2
   AliasMatch ^/themes/([0-9a-zA-Z-_]*)/js/(.*)$ /path/to/your/VuFind/themes/$1/js/$2
   <Directory ~ "^/path/to/your/VuFind/application/themes/([0-9a-zA-Z-_]*)/(css|images|js)/">
      Order allow,deny
      allow from all
      AllowOverride All
   </Directory>

   # Configuration for general VuFind base:
   DocumentRoot /path/to/your/VuFind/public/
   <Directory /path/to/your/VuFind/public/>
      Order allow,deny
      allow from all
      AllowOverride All

      RewriteEngine On
      RewriteCond %{REQUEST_URI} ^/Shibboleth.*$
      RewriteRule .* - [S=3]
      RewriteCond %{REQUEST_FILENAME} -s [OR]
      RewriteCond %{REQUEST_FILENAME} -l [OR]
      RewriteCond %{REQUEST_FILENAME} -d
      RewriteRule ^.*$ - [NC,L]
      RewriteRule ^.*$ index.php [NC,L]

   </Directory>

   SetEnv VUFIND_ENV development
#  SetEnv VUFIND_ENV production
   SetEnv VUFIND_LOCAL_DIR /path/to/your/VuFind/local/cpk-devel.mzk.cz
   SetEnv VUFIND_LOCAL_MODULES VuFind,MZKCommon

#   <Location />
#      AuthType shibboleth
#      ShibRequireSession Off
#      Require shibboleth
#   </Location>

</VirtualHost>
