@font-family-sans-serif:Arial, sans-serif;
@font-size-base:        13px;
@text-color:            #525252;
@brand-primary :        #16969D;
@link-color:            #16969D;
@link-hover-color:      #16969D;
@body-bg:               #F5F5F5;
@nav-tabs-active-link-hover-bg: #FFFFFF;

@border-radius-base :   0px;
@pager-border-radius:   0px;

@breadcrumb-color:      #fff;
@breadcrumb-active-color:#fff;
