<div id="record{{ resource.uniqueId }}" class="row well"
	style="margin-bottom: 2px;">
	<div class="col-sm-2 text-center">
	    <strong class="pull-left order">{{ resource.rowNo }}.</strong>
	    <div id="cover_{{ resource.uniqueId }}">
		  <img ng-if="resource.thumbnail" src="{{ resource.thumbnail }}" class="recordcover">
		</div>
	</div>
	<div class="col-sm-9">
	  <a data-ng-if="resource.titleLink" href="{{ resource.titleLink }}" class="title">{{ resource.title }}</a>
	  <div data-ng-if="!resource.titleLink">
	    <a ng-if="resource.id" class="title" ng-href="/Record/{{ resource.id | urlencode }}" title="{{ resource.author }}">{{ resource.title }}</a>
	    <span ng-if="! resource.id" title="{{ resource.author }}">{{ resource.title }}</span>
	  </div>
	  <div data-ng-if="resource.authorLink">
	    {{ 'by' | translate }}:
	    <a href="{{ resource.authorLink }}">{{ resource.author }}</a>
	  </div>
	  <div data-ng-if="!resource.authorLink && resource.author">{{ 'by' | translate }}: <a ng-href="/Author/Home?author={{ resource.author | urlencode }}" title="{{ resource.author }}">{{ resource.author }}</a></div>
	  <div data-ng-repeat="format in resource.formats">
	    {{ format }}
	  </div>
	  <div data-ng-if="resource.volume">
	    <strong>{{ 'Volume' | translate }}</strong> {{ resource.volume }}
	    <br>
	  </div> 
	  <div data-ng-if="resource.publicationYear">
	    <strong>{{ 'Year of Publication' | translate }}</strong> {{ resource.publicationYear }}
	    <br>
	  </div>
	  <div data-ng-if="resource.renewed">
        <strong>{{ 'Renewed' | translate }}:</strong> {{ resource.renewed }}
        <br>
      </div>
      <div>
        <strong>{{ 'Due Date' | translate }}:</strong> {{ resource.duedate }}
	  </div>
	</div>
</div>