//styling of links
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

//formatting of copyright
.copyright {
  text-align: center;
  margin-bottom: 20px;
}

//fontsize reset - is it necessary?
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

//color of text in facets
@list-group-link-color: @link-color;

//do not change link color on hover
@link-hover-color: @link-color;

//styling of numbers in facets
.badge {
  background-color: transparent;
  color: @text-color;
  font-weight: normal;
}

.local-search-link {
margin-left: 25px;
}

.external-search-link {
margin-left: 10px;
}

#recaptcha_privacy.recaptcha_only_if_privacy {
float: inherit;
}

.limitSelect, .sortSelect {
display: inline-block;
}

.jumpMenu{
width: auto;
}

.sort_limit_container {
float: right;
}

.resultsOnPageLimiter {
margin-left: 3px;
}

#flagLink.flagLink {
padding: 0px 5px 0px 0px;
margin-bottom: 10px;
}

.bulkActionButtons {
margin-bottom: 8px;
}