<td class="col-xs-3">
  <del style="color: gray">
	{{ deletedTranslation.key }}
  </del>
</td>
<td ng-repeat="deletedTranslationLangValue in deletedTranslation.langValues track by $index">
  <del style="color: gray">
	{{ deletedTranslationLangValue }}
  </del>
</td>
<td class="col-xs-1">
  <a class="btn btn-link" href="#{{ deletedTranslation.newDef.source }}" ng-click="transCtrl.restoreTranslation(translationKey, deletedTranslation.newDef, $event)">
  <i class="pr-interface-plusadd"></i> {{ 'add_translation' | translate }}</a>
</td></