/* myresearch */
.myresearch-menu, .myresearch-favorites-list, .myresearch-profile-menu {
  background-color: white;
  border: 1px solid #E0E0E0;
}

/*styling of order numbers*/
strong.order{
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

/*fix - absence of checkbox do not ruin layout*/
.checkbox-placeholder {
    width: 15px;
    height: 15px;
    margin-top: 4px;
}

#renewals .row {
    margin-left: 0px;
}