.help-block {
  color: @text-color; // do not lighten the text with number of results
}

/*adds margin before icons in toolbar - should be in common*/
.left-margin {
    margin-left: 10px;
}

/* search view type */
img.search-view-type {
    padding-left: 10px;
}

/* search results */
.form-line {
    background-color: #fff;
}

input.checkbox-select-item {
    margin-left: 5px;
}

li.nav-header {
    margin: 30px 10px 10px 10px;
    background: #504b55;
    padding: 6px 8px;
    color: #fff;
    padding: 6px 8px;
}

label.recordNumber {
    width: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.result a.title {
    font-weight: normal;
    font-size: 15px;
}

/* results */

.results {
    border: 1px solid #E0E0E0;
}

div.results-empty, div.results-listing-options, div.results-bulk-actions, div.results-pagination {
    padding: 0px 10px 0px 10px;
}

div.results-pagination {
    text-align: center;
}

div.results-bulk-actions {
    border-bottom: #eee solid 1px;
    padding: 0px 10px 0px 10px;
}

.result {
    border-top: 0px;
    padding: 15px 10px 15px 10px;
    background: white;
}

div.holdingsLink {
    margin-top: 10px;
}


/* facets */
div.sidebar {
    padding-left: 10px;
    padding-right: 10px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: inherit;
}

/*facets - title*/
.list-group-item.title {
    background-color: #504B55;
    color: #FFF;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus  {
    border-color: #DDD;
}

/*facets - number of items*/
.badge {
    font-weight: inherit;
    color: inherit;
    background-color: transparent;
}

/* obalky knih */
div.coverThumbnail>a>img {
    height: 80px;
}

/*stav jednotek*/
.label {
    margin-right: 2px;
    border-radius: 0px;
}